{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Three.js</title>
  </head>
  <body>
    <canvas id="canvas"></canvas>
  </body>

  <script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.167.1/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.167.1/examples/jsm/"
      }
    }
  </script>


  <script type="module">
    import * as THREE from 'three';
    import { GLTFLoader } from 'three/addons/loaders/GLTFLoader.js';

    let scene = new THREE.Scene();

    scene.background = new THREE.Color("skyblue");
    
    let camera = new THREE.PerspectiveCamera(
      45,
      window.innerWidth / window.innerHeight,
      0.1,
      1000
    );

    // 카메라의 위치 설정 (x: 0, y: 0, z: 5)
    camera.position.set(0, 0, 5);


    let loader = new GLTFLoader();

    let PLight = new THREE.PointLight();
    let ALight = new THREE.AmbientLight();
    PLight.position.set(50, 50, 50);
    scene.add(PLight, ALight);

    let renderer = new THREE.WebGLRenderer({
      canvas: document.querySelector("#canvas"),
      antialias: true,
    });

    renderer.outputEncoding = THREE.sRGBEncoding;
    renderer.setSize(window.innerWidth, window.innerHeight);
    // renderer.render(scene, camera); // 랜더링

    
    loader.load("{% static model/car.gltf %}", function (gltf) {
      scene.add(gltf.scene);
      renderer.render(scene, camera); // 랜더링
    },
    function ( xhr ) {
      console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );
    },
    function ( error ) {
      console.log( 'An error happened' );
    });

  </script>
</html>
